/*Importando Google Fonts - inter regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/*resetando estilos*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}


/*variáveis*/
:root{

    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}

/*Eu queria que alguns elementos ocupassem 100% do espaço, mas antes tive que configurar nos elementos pai*/
html{
    width: 100%;
    /*height: 100%;*/
}

/*Corpo do texto*/
body{
    width: 100%;
    height: 100%;
    background-color: var(--light-blue-100);
    font-family: "Inter", sans-serif; 
    
}

/*Cabeçalho*/
header{
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
    text-align: center;
    padding: 2%;
}

h1{
    text-align: center;
    color: var(--gray-400);
    margin: 24px 0 24px 0px;
}

/*Essa classe se relaciona com a tag main do projeto*/
.principal{
   width: 100%;
   height: 100%;  
   display: flex;   
   flex-direction: row;
   padding: 2.93%;
   gap: 20px;

   align-items: flex-start; 
   justify-content: space-between;
}

/*Essa classe se relaciona com o conteúdo*/
.principal__conteudo{
    width: 100%;
    height: 100%;
         
}

form{
    width: 100%;
    height: 100%;
}

/*Essa classe se relaciona com o conteúdo da text_box, onde o usuário vai digitar o que desejar*/
.principal__conteudo__textbox{

    width: 100%;
    height: 100%;    
    background-color: transparent;
    color: var(--dark-blue-300);
    border: none;
    border-radius: 20px;   
    padding: 40px;
    font-size: 32px; 
    resize: none;  
   
}

.principal__conteudo__textbox:hover{    
    background-color: var(--light-blue-300);
}

.principal__conteudo__textbox:focus{
    outline: none;
}



.principal__conteudo__form__comentario{
    display: flex;
    margin: 20px 0 20px 0;
   
}

/*Classe dedicada a estilização de botões*/
.principal__conteudo__buttons{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.principal__conteudo__buttons__button{
    width: 100%;
    color: var(--gray-100);
    background-color: var(--dark-blue-500);
    padding: 24px;
    border-radius: 20px;
    text-align: center;
}

/*Classe dedicada a estilização do histórico de texto*/
.principal__historico{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFF;
    width: auto; 
    height: 100%;    
    padding: 32px;
    gap: 32px;    
    border-radius: 20px;
    box-shadow: 0px 32px 24px -8px rgba(0, 0, 0, 0.08);
}

.principal__historico__imagem{
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner */
    height: auto;
}

.principal__historico_titulo{
    font-size: 24px;
    color: var(--gray-500);    
}

.principal__historico_titulo, .principal__historico p{
    text-align: center;
}

/*Rodapé*/
footer{
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
    text-align: center;
    padding: 2%;    
}



